.m-control .m-title {
  vertical-align: middle;
  width: 200px;
}

.m-control .form-control {
  display: inline;
}

.m-control .add {
  width: 200px;
}

.m-control .sel {
  width: 80px;
}

.m-control .sel2 {
  width: 100px;
}

.m-control button {
  vertical-align: top; /* 부트스트랩 버튼이 기본적으로 vertical-align을 가지고 있기 때문에 맞춘다. */
}

.titlebtn {
  text-align: center;
}

.tab-content {
  margin-top: 50px;
}
